body {
  background-color: #444;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  min-height: 100vh;

}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-family: "serif";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Game{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  flex-direction: column;
  margin-top: 15px;

  min-width: 300px;

  box-shadow: 20px 20px 30px 0 darkred
}
.ControlPanel{
  color: white;
}

.Title{
  font-size: 30px;
  font-style: oblique;
  font-family: Silom, serif;
  flex-basis: 200%;
  text-shadow: 5px 5px 10px darkred;
}

.Cp-logo {
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Cp-logo {
    animation: Cp-logo-spin infinite 10s linear;
  }
}
@keyframes Cp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Field{
  order: 3;
  user-select: none;
  position: relative;
  margin: 10px 10px 30px 30px;
  width: 20em; height: 22em;
  display: flex;
  flex-flow: row wrap;
}
.Cell{
  background-color: #323232;
  border: none;
  margin: 4px;
  width: 30px;
  height: 30px;
}
.Cell-empty{
  text-align: match-parent;
  box-shadow: 0 0 5px 3px darkgreen;
  color: red;
}
.Cell-marked{
  box-shadow: 0 0 5px 3px darkgrey;
}
.Cell-marked::before{
  content: "💀"
}
.Cell-bomb{
  box-shadow: 0 0 5px 3px red;
  background-color: red;
}
.Cell-bomb::before{
  content: "💣"
}
.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}
.Column {
  display: table-cell;
}
.Reset {
  font-size: 3em;
}